img.bild {
    opacity: 0.8;
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: #98da5a;
  border-color: #98da5a;
  background-color: transparent;
  color: #98da5a;
  padding: 12px 20px;
  /* border:; */
  border-radius: 10px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    color: #000;
  background-color: #98da5a;
  border-color: #98da5a;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}

.container1 {
    background-color: rgba(47, 53, 59);
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
    box-sizing: border-box;
    border: 0px;
    border-width: 0px;
    word-wrap: wrap;
}

.container1 p{
    color: whitesmoke;
    text-align:left;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    color: whitesmoke;
    margin-top: 10px;
    font-size: 17px;
    text-align: left;
}

.bg-image{
    background-image: url("forest.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    background-attachment: fixed;
}

.bg-image2{
    background-image: url("water.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    background-attachment: fixed;
}

.bg-image3{
    background-image: url("sky.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    background-attachment: fixed;
}

.bg-image4{
    background-image: url("access.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    background-attachment: fixed;
}

.bg-image5{
    background-image: url("heather.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    background-attachment: fixed;
}

header {
    margin-bottom: 40px;
}

.projekt {
    color:rgb(130, 187, 243);
}

.klient {
    color:#98da5a;
}

.tillgang {
    color: #e67865;
}

.inter {
    color: rgb(223, 223, 37);
}

.analys {
    color: rgb(143, 114, 189);
}

.le-al {
    text-align: left;
}

.sam {
    color:whitesmoke;
}

.lis {
    color: whitesmoke;
}

.nav-m {
    margin-left: 10px;
}

.sub {
    font-size: 12px;
    margin-left: 5px;
}

.foot {
    color: rgb(196, 192, 192);
    text-decoration: none;
}

.foot:hover {
    color: whitesmoke;
}

.nav {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    text-align: left;
}

.nav:hover, .nav.active, .nav:focus, .aktiv {
    color:white;
}

.nav1 {
    color: #b2cc99;
    text-decoration: none;
}

.nav1:hover, .nav1.active, .nav1:focus, .aktiv1 {
    color: #98da5a;
}

.nav2 {
    color: rgb(193, 214, 235);
    text-decoration: none;
}

.nav2:hover, .nav2.active, .nav2:focus, .aktiv2 {
    color: rgb(130, 187, 243);
}

.nav3 {
    color: rgb(211, 211, 152);
    text-decoration: none;
}

.nav3:hover, .nav3.active, .nav3:focus, .aktiv3 {
    color: rgb(223, 223, 37);
}

.nav4 {
    color: #dfa9a0;
    text-decoration: none;
}

.nav4:hover, .nav4.active, .nav4:focus, .aktiv4 {
    color: #e67865;
}

.nav5 {
    color: rgb(144, 136, 156);
    text-decoration: none;
}

.nav5:hover, .nav5.active, .nav5:focus, .aktiv5 {
    color: rgb(160, 130, 207);
}